button {
  margin-left: 15px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
}

.inc {
  background-color: rgb(11, 124, 11);
  color: white;
  margin-left: 30px;
}

.dec {
  background-color: rgb(223, 8, 8);
  color: white;
}

.res {
  background-color: rgb(228, 228, 31);
  color: black;
}

.count {
  margin-left: 170px;
}

.container {
  border: none;
  max-width: 500px;
  position: relative;
  top: 250px;
  margin: auto;
  left: 50px;
}

h1 {
  border: none;
  display: inline;
  position: relative;
  top: 100px;
  left: 500px;
  text-decoration-line: underline;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
